EcommerceLibros/Connected Services/ServiceReference1/TC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerificarTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroTarjeta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarTarjetaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroTarjeta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroTarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaExpiracion" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoTarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarTarjetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarTarjeta" />
  </wsdl:message>
  <wsdl:message name="VerificarTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="PagarSoapIn">
    <wsdl:part name="parameters" element="tns:Pagar" />
  </wsdl:message>
  <wsdl:message name="PagarSoapOut">
    <wsdl:part name="parameters" element="tns:PagarResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarTarjeta" />
  </wsdl:message>
  <wsdl:message name="AgregarTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarTarjetaResponse" />
  </wsdl:message>
  <wsdl:portType name="TC1Soap">
    <wsdl:operation name="VerificarTarjeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificar si la tarjeta existe y obtener datos</wsdl:documentation>
      <wsdl:input message="tns:VerificarTarjetaSoapIn" />
      <wsdl:output message="tns:VerificarTarjetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pagar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realizar un pago</wsdl:documentation>
      <wsdl:input message="tns:PagarSoapIn" />
      <wsdl:output message="tns:PagarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarTarjeta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar una nueva tarjeta</wsdl:documentation>
      <wsdl:input message="tns:AgregarTarjetaSoapIn" />
      <wsdl:output message="tns:AgregarTarjetaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TC1Soap" type="tns:TC1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarTarjeta">
      <soap:operation soapAction="http://tempuri.org/VerificarTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pagar">
      <soap:operation soapAction="http://tempuri.org/Pagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarTarjeta">
      <soap:operation soapAction="http://tempuri.org/AgregarTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TC1Soap12" type="tns:TC1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarTarjeta">
      <soap12:operation soapAction="http://tempuri.org/VerificarTarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pagar">
      <soap12:operation soapAction="http://tempuri.org/Pagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarTarjeta">
      <soap12:operation soapAction="http://tempuri.org/AgregarTarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TC1">
    <wsdl:port name="TC1Soap" binding="tns:TC1Soap">
      <soap:address location="https://localhost:44314/TC.asmx" />
    </wsdl:port>
    <wsdl:port name="TC1Soap12" binding="tns:TC1Soap12">
      <soap12:address location="https://localhost:44314/TC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>